.header {
  background: #2f3136;
  width: 100%;
  border-bottom: 2px solid #4d5158;
}

.header_div1 {
  display: flex;
  flex-direction: column;
}

.header_div2 {
  margin: 1.5rem 0rem 0rem 1.5rem;
}

.header_title {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  margin: 0rem 0rem 0rem 1.5rem;
}

.navbar ul {
  display: inline;
  padding: 0rem; /* Overriding user agent css */
}

.navbar ul li {
  color: #a1a1a1;
  display: inline-block;
  margin: 0.7rem 0.7rem 0.7rem 0rem;
}