.home {
  background: #2f3136;
  height: 100%;

  /* Expand as per child container */
  overflow: auto;
}

.home_container {
  max-width: 900px;
  margin: 0 auto;
  padding: 7vw 5vw 0 5vw;
}

.header_name {
  color: #ffffff;
  font-size: 2.2em;
  font-weight: bold;
}

.para_about {
  color: #ffffff;
  line-height: 1.5;
}

.portrait_container {
  margin-left: 1em;
  float: right;
}

.portrait {
  width: 220px;
  border-radius: 56% 61% 48% 61%;
}

.portrait:active {
  border: 1px solid #e6dab2;
}

.portrait:hover {
  box-shadow: 0 0 20px #e6dab2;
}

@media screen and (max-width: 380px) {
  .portrait_container {
    margin: 1em auto 1em auto;
    float: none;
  }

  .portrait {
    display: block;
    margin: 0 auto;
  }
}